__pycache__
release
_MACOSX
debug
venv
*.qtc_clangd
*.pro.user
*.obj
*.debug
/.qmake.cache
/.qmake.stash
Makefile*
*.pro.user*
CMakeLists.txt.user*
*.exe
*.layout
*qmake.stash
/LinearAlgebra/SVD/eigen
/LinearAlgebra/PCA/eigen

